#canvasBig{
    z-index: 3;
    position: absolute;
    left: 0;
    top: 200px;
}
#canvasCenter{
    z-index: 4;
    position: absolute;
    left: 0;
    top: 200px;
}
#canvasSmall{
    z-index: 5;
    position: absolute;
    left: 0;
    top: 200px;
}
#canvasText{
    z-index: 6;
    position: absolute;
    left: 0;
    top: 200px;
}
#canvasMan{
    z-index: 7;
    position: absolute;
    left: 0;
    top: 200px;
}