@mixin position($zIndex) {
    z-index: $zIndex;
    position: absolute;
    left: 0;
    top: 200px;
}
#canvasBig{
    @include position(3); 
}
#canvasCenter{
    @include position(4);
}
#canvasSmall{
   @include position(5);
}
#canvasText{
   @include position(6);
}
#canvasMan{
   @include position(7);
}
